.center-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

.right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 32px;
}

button {
  border: 1px solid var(--black);
  border-radius: 5px;
  color: var(--white);
  font-size: 24px;
  text-align: center;
  padding: 24px;

  &:hover {
    transform: scale(1.05);
    cursor: pointer;
  }
}
