@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

:root {
  --black: #202020;
  --emerald: #009b77;
  --white: #ededed;
  --violet: #6b5b95;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", Verdana, Geneva, Tahoma, sans-serif;
  background: var(--light);
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 100vw;
}

hr {
  border: 1px solid var(--emerald);
}

.active {
  background: rgb(1, 121, 51);
}

.inactive {
  background: rgb(204, 125, 0);
}

.occupied-cell {
  background: rgb(130, 0, 0);
}

.red {
  background: rgb(130, 0, 0);
}
