:root {
  --black: #202020;
  --emerald: #009b77;
  --white: #ededed;
  --violet: #6b5b95;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background: var(--light);
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header,
.footer {
  padding: 16px;
  color: var(--emerald);
  font-size: 28px;
  text-align: start;
}

.header > h1 {
  text-align: center;
}

hr {
  border: 1px solid var(--emerald);
}

.center-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

.right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 32px;
}

.result-container {
  width: 300px;
}

.result,
button {
  border: 1px solid var(--black);
  border-radius: 5px;
  color: var(--white);
  font-size: 24px;
  text-align: center;
  padding: 24px;
}

button:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.result {
  color: var(--black);
}

table.board {
  box-shadow: rgb(0 0 0 / 50%) 10px 10px 10px;
  border-collapse: collapse;
}

.board:hover {
  cursor: pointer;
}

td.box {
  color: var(--white);
  background: var(--white);
  border: 1px solid var(--black);
  width: 100px;
  height: 100px;
  text-align: center;
  font-size: 82px;
}

.footer > a {
  color: var(--emerald);
  text-decoration: none;
}

.footer > a:hover {
  color: var(--violet);
}
