* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  background-color: black;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.header-container {
  display: flex;
  justify-content: flex-start;
}

.header,
.footer {
  padding: 16px;
  color: white;
  font-size: 24px;
}

.center-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

.right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 32px;
}

.result-container {
  width: 302px;
}

.result,
.vs-friend,
.vs-ai,
.change-sides,
.restart {
  border: 2px solid white;
  color: white;
  font-size: 24px;
  text-align: center;
  padding: 24px;
}

table.board {
  border-collapse: collapse;
}

.board:hover,
.vs-friend,
.vs-ai,
.restart:hover,
.change-sides:hover {
  cursor: pointer;
}

td.box {
  color: white;
  border: 2px solid white;
  width: 100px;
  height: 100px;
  text-align: center;
  font-size: 82px;
}

.footer > a {
  color: white;
  text-decoration: none;
}

.footer > a:hover {
  color: #5ce64e;
}
